<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation}}邮件服务器</h4>
    </div>
    <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="form-group"><label class="col-sm-3 control-label">服务器</label>

                <div class="col-sm-9"><input ng-model="config.host" type="text" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-3 control-label">端口</label>

                <div class="col-sm-9"><input ng-model="config.port" type="text" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-3 control-label">用户名</label>

                <div class="col-sm-9"><input ng-model="config.user" type="text" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-3 control-label">密码</label>

                <div class="col-sm-9"><input ng-model="config.password" type="password" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-3 control-label">发件人地址</label>

                <div class="col-sm-9"><input ng-model="config.from_addr" type="text" class="form-control"></div>
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">保存</button>
    </div>
</div>
